@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
body{ background:#000;background-repeat: no-repeat; background-attachment: fixed;background-position: center;}
.fix{overflow:hidden;}
.main{width:1300px;margin:0 auto;display:block;background:#FFF;margin-top:10px;}
.header{background: #93F;padding-bottom: 43px;}
.header h1{color:#000;padding-left:355px;padding-top: 31px;font-size: 41px;font-style: inherit;}
.navigation_bar{background:#903;}
.navigation_bar ul{margin:0;padding:0;list-style:none;}
.navigation_bar ul li{float:left;padding:10px 15px;border-left-style:groove;}
.navigation_bar ul li a{text-decoration:none;color:#000;font-family: sans-serif;font-size: 20px;}


.update{background:#FFFFFF;}
.update h3{color:#000000;}

.content{width:960px;padding-left:240px;}


.content_middle {width: 700px; padding-top: 25px;}

.login_form{background-image:url(../1605255.jpg); margin-right: 7px;padding-left: 152px;padding-bottom:25px}
.form_p {
font-family: sans-serif;
font-size: 33px;
color: darkred;
padding-bottom: 15px;
padding-top: 15px;
font-weight: 900;
font-style: normal;
}


.form_h4{font-family: sans-serif;
font-weight: 900;
font-size: 24px;
font-stretch: expanded;}
.button{background: black;padding-left: 81px;color: aliceblue;padding-top: 10px;margin-top: 16px;font-size: 15px;font-family: cursive;}







.footer{width:960px;margin:0 auto;padding-top:25px;background: black;margin-top: 10px;padding-bottom: 20px;}
.footer_text1{color: darkgray;padding-left: 437px;font-size: x-large;}

.footer_text2{color: darkgray;padding-left: 541px;font-size: larger}
.footer_text3{color: darkgray;padding-left: 544px;font-family: sans-serif;}
